/* css/index.css */
body {
    font-family: Titillium Web;
    background-color: #f4f4f4;
    margin: 0px 100px;
    padding: 0px;
}

header{
    background-color: blue;
    color: #f4f4f4;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}

.chart-container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-container__header{
    width: 100%;
    display: flex;
    height: 60px;
}

.chart-container__title{
    margin: 2px;
    align-self: flex-start;
    text-align: left;
    width: 50%;
}

.chart-container__select-container{
    display:flex;
    width: 50%;
    justify-content: right;
    align-items: center;
}

.channel-select__label{
    font-weight: bold;
    margin-right: 10px;
}

.channel-select__dropdown{
    height: 50%;
}

.chart-container__description {
    align-self: flex-start;
    text-align: left;
    width: 100%;
}

.chart-container__iframe {
    width: 640px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    border: none;
}

/* Media query for mobile devices */
@media (max-width: 952px) {
/* 952 porque es cuando comienza el scroll en los graficos */
    body {
        margin: 0px;
    }

    .container{
        padding: 0%;
    }

    .chart-container{
        margin: 0px;
        margin-bottom: 40px;
    }

}
