/* css/index.css */
header{
    background-color: green;
    color: #f4f4f4;
    padding-left: 10px;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
}

#titulo{
    margin: 0px;
}

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: Titillium Web;
    background-color: #f4f4f4;
    padding: 0px;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    gap: 2px;
    margin: 0px 0px;

}

.chart-container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-container__header{
    width: 100%;
    display: flex;
}

.chart-container__title{
    margin: 2px;
    align-self: flex-start;
    text-align: left;
    width: 50%;
}

.chart-container__select-container{
    display:flex;
    width: 50%;
    justify-content: right;
    align-items: center;
    margin-right: 10px;
}

.canales-select__label{
    font-weight: bold;
    margin-right: 10px;
}

.canales-select__dropdown{
    height: 50%;
}

.chart-container__description {
    align-self: flex-start;
    text-align: left;
    width: 100%;
}

.chart-container__iframe {
    width: 640px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    border: none;
}

/* Media query for mobile devices */
@media (max-width: 952px) {
/* 952 es cuando comienza el scroll en los graficos */

    .container{
        padding: 30px 0px;
        margin: 0px;
    }

    .chart-container{
        margin: 0px;
        margin-bottom: 40px;
    }

}
